 #carnigao {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        #carnigao img {
            max-width: 100%;
            max-height: 100%;
            object-fit: contain;
        }

        hr {
            height: 2px;
            background-color: white;
            border: none;
        }

        footer {
            background-color: #d6d8d9;
            color: #ffffff;
            text-align: center;
            padding: 10px;
        }
       form {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.column {
  width: 48%; /* Adjust this width to control the gap between columns */
  box-sizing: border-box;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  width: 100%;
}

button[type="submit"] {
  background: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
