/* styles.css */
.section-heading {
    font-size: 24px;
    text-align: center;
    margin: 20px 0;
}

.overview-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.overview-box {
    text-align: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.overview-box h3 {
    font-size: 18px;
}

.overview-box p {
    font-size: 16px;
    padding: 10px 0;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    margin: 20px 0;
}

.custom-table th, .custom-table td {
    padding: 10px;
    text-align: center;
}

.custom-table thead {
    background-color: #007bff;
    color: #fff;
}

.custom-table tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

.custom-table tbody tr:hover {
    background-color: #e0e0e0;
}

.custom-table th {
    font-weight: bold;
}

.custom-table td {
    font-size: 16px;
}

.footer-text {
    text-align: center;
    margin-top: 20px;
}
